* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	
    font-family: 'Lato', sans-serif;
}
.padge {
  min-height: 100%;
  display:flex;
  flex-direction: column;
}
.container {
    max-width: 1140px;
    margin: 0 auto;	
}
a{
	text-decoration: none;
}
.padge-content {
	flex: 1;
}
/* HEADER */
.header {
    border: 1px solid #ececec;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
	margin-right: 37px;
}
.logo-brand {
	margin-right: 13px;
}
.last-letter {
    color: #f16d7f;
    font-weight: 900;
}
.browse {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
	border: 1px solid #e6e6e6;
	border-right: 0;
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
	padding-left: 15px;
/*    text-align: center;*/
	position: relative;
	cursor: pointer;
}

.browse:hover .mlessega-box  {
	display: flex;
	flex-wrap: wrap;
	z-index: 5;
}
.arrow {
	margin: 0 0 2px 8px;
}
button:focus, input:focus{
	outline: none;
}
.brows-text {
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    width: 317px;
    height: 38px;
	padding-left: 15px;
}
.brows-batton {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
	border: 1px  solid #e6e6e6;
	border-left: 0;
	background-color: #ffffff;
	padding: 9px;
}
.brows-batton:hover {
	cursor: pointer;
}
.header-right {
    display: flex;
    align-items: center;
}
                                      /*CART*/
.cart-div{
	position: relative;	
}
.cart-img{
	display: block;
}
.cart{
/*	display: none;*/
	width: 262px;
	z-index:11;
	background-color: #ffffff;
	position: absolute;
	top: 40px;
    right: -169px;
	border-radius: 5px;
	border: 1px solid #ededed;
	padding: 20px;
	/* align-items: flex-end;	 */
}
.cart-div:hover .cart{
	display: flex;
	flex-wrap: wrap;
}
.treangl {
	height: 9px;
	width: 9px;
	border-left: 1px  solid #e8e8e8;
	border-top:  1px  solid #e8e8e8;
	transform: rotate(45deg);
	position: absolute;
	left: 74px;
    top: -6px;
	background-color:  #ffffff;
}



.cart-up {
	width: 100%;
	display: flex;
/*	justify-content: space-between;*/
	flex-direction: column;
}
.cart_product {
	width: 100%;
	display: flex;
/*	justify-content: space-between;*/
	align-items: center;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ededed;
}
.cart_product-info {
	height: 85px;
	margin-left: 14px;
}.cart_product-info p {
	font-size: 12px;
	margin-top: 10px;
}
.cart_product-img {
	
}
.cart_product-img img {
	width: 72px;
	height: 85px;
}
.cart_del-cont {
	/* margin: 0 0 0 auto; */
}

.cart_del {
	margin: 0 0 0 auto;
	width: 15px;
	height: 15px;
	border: 0;
	border-radius: 50%;
	background-color: #ddd;
	
}
.cart_del:hover {
	cursor: pointer;
}


.cart-down{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 190px;
	
}
.cart-button{
	height: 50px;
	width: 225px;
	border: 1px solid #ededed;
	text-align: center;
	padding-top: 13px;
	display: block;
	color: #4a4a4a;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.cart-button:hover{
	color: #f16d7f;
	border: 1px solid #f16d7f;
}

.button-site {
    background-color: #f16d7f;
    padding: 12px 19px;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: background-color .5s, border .5s, color .5s;
}

.button-site:hover {
	background-color: #ffffff;
	color: #f16d7f;
	border: 1px solid #f16d7f;
}
.header-form { 
    display: flex;	
}
.my-acc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 26px;
}

                          /* MENU */
.menu {
    display: flex;
    list-style: none;
    justify-content: center;
	position: relative;
}
.menu-li {
    position: relative;
}

.menu-link {
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu-link:hover{
	text-decoration: underline;
}
                             /* MEGA-MENU */
.mlessega-box {
	display: none;
	position: absolute;
	background-color:  #ffffff;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	top: 43px; 
	padding: 21px 24px 20px 0;
	left: -40px; 
	z-index: 10;
}
.menu-li:hover .mlessega-box{
	display: flex;
}
.mega-flex {
	margin-left: 40px;
	
}
.mega-flex:last-of-type{
	margin-right: 0;
}
.mega-flex-heading {
	color:  #232323;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px solid #e8e8e8;
	width: 245px;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.mega-menu {
	list-style-type: none;
}
.mega-menu-link {
	color:  #646464;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.mega-menu-link:hover{
	color:  #f16d7f;
}

											/* BANNER */
/* .banner {
    height: 614px;
    background-color: #e8e8e8;
    margin-bottom: 88px;
}
.banner-blokc {
    height: 100%;
    background: url(../img/banner.jpg) 0 -51px;
}
.banner-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    float: left;
    padding-left: 12px;
}
.the-brand {
    color: #222222;
    font-size: 59.95px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
}
.text-fashion {
    color: #222222;
    font-size: 39.96px;
    font-weight: 900;
    line-height: 31px;
}
.rose-word {
    color: #f16d7f;
}

									/* KATEGORIES */
/* .container-flex {
    display: flex;
    justify-content: space-between;
}
.kategories {
    height: 100%;
    max-width: 100%;
	margin-right: 15px;
}
.kategories:last-of-type{
	margin-right: 0
}
.kategories-big {
    background-color: antiquewhite;
    margin: 20px 0;
}
.kategories-big-left {
    position: relative;
}
.kategories-img{
	width: 100%;
}
.offer {
    height: 82px;
    background-color: #ffffff;
    position: absolute;
    top: 26px;
    padding: 16px 19px;
    color:  #222222;
    font-size: 18px;
    font-weight: 900;   
}
.rose-word-offer {
    color:  #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}
.kategories-small {
    background-color: #dadad2;
    margin: 20px 0;
}
.kategories-small-left {
    position: relative;
}
.kategories-small-right {
    background: url(../img/Layer%2032blond.jpg);
    position: relative;
}
.kategories-big-right {
    position: relative;
} */
								/* PRODUKT-BOX */
.fetured {
    color:  #222222;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
}
.fetured-p {
    color:  #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
}
.product-box {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;	
} 
									/* ITEM| */
.item {
    width: 261px;
    position: relative;
    margin-bottom: 39px;
	margin-left: 15px;
}
.item:hover{
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}
.product {
    width: 261px;
    display: block;
}
.item-img{
    width: 100%; 
}
.item:hover .item-img{
    filter: brightness(50%);
}
.named-footer {
    padding: 20px 15px;
}
.named {
    color:  #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px; 
}
.prise {
    font-size: 16px;
    font-weight: 700;
	color: #f16d7f;
}
.box-add {
    width: 100%;
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
}
.item:hover .box-add{
    display: flex;
}
.add {
    border: 1px solid #ffffff;
    padding: 9px 12px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700; 
    display: flex;
	align-items: center;
	cursor: pointer;
}
.add:hover{
    box-shadow: 0 0 8px #fff;
}

.qwe {
    text-align: center;
    margin-bottom: 113px;
}
.browse-product {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
	text-transform: uppercase;
}

								/* FUTURE-BANNER */
/* .fetured-banner {
    height: 529px;
    background: url(../img/feature-banner-png.png) no-repeat,
                url(../img/feature-banner.jpg) no-repeat #222224;
    display: flex;
    justify-content: space-between;
}
.fetured-offer {
    color:  #ffffff;
    font-size: 53.62px;
    font-weight: 700;
    text-align: left;
    padding: 146px 0 0 39px;
}
.fetured-bbox {
    width: 373px;
    height: 529px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fetured-box {
    width: 373px; 
    padding: 55px 0 0 114px;
}
.fetured-box-1 {
    background: url(../img/Forma%201.png) no-repeat 36px 48px;
}
.feture-box-h {
    color:  #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.feture-box-p {
    color:  #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.fetured-box-2 {
    background: url(../img/Forma%202.png) no-repeat 36px 48px;
}
.fetured-box-3 {
    background:url(../img/Forma%203.png) no-repeat 36px 48px;
} */

									/* SABSCRIBE */
.sabscribe-container {
    width: 100%;
    margin: 97px auto 0 auto;
	background-color: #e8e8e8;
}
.sabscribe {
    width: 100%;
    height: 438px;;
    background: url(../img/Subscribe-banner-png.png) no-repeat,
                url(../img/Subscribe-banner.jpg) no-repeat;
	background-position: center;
    display: flex;
    justify-content:center;
    
}
.sabscribe-left {
    width: 570px;
    height: 100%;
}
.sabscribe-in {
	height: auto;
	display: grid;
	grid-template-columns:83px auto auto;
	grid-column-gap: 28px;
	grid-row-gap: 19px;
	margin-top: 111px;
}
.sabsc-pl {
	grid-column: 2/4;
	color: #222224;
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
	letter-spacing: 0.4px;
}
.name-pl {
	grid-column:2
}
.name-sab {
	font-weight: 800;
	letter-spacing: 0.4px;
	line-height: 26px;
	font-size: 16px;
	color: #f16d7f;
}
.hint-com {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.hint-com-el {
	width: 38px;
	height: 4px;
	background-color: #d6d6d6;
	margin-right: 13px;
	cursor: pointer;
}
.selected {
	background-color: #f16d7f;
}


.sabscribe-right {
        width: 570px;
        height: 100%;      
}
.sabscribe-p {
	margin-top: 148px;
	text-align: center
}
.sab {
	font-size: 24px;
	letter-spacing: 0.6px;
	line-height: 54px;
	text-transform: uppercase;
}
.sabscribe-form {
	margin-left: 92px;
	margin-top: 35px;
}
.brows-text-sab {
	width: 254px;
	height: 46px;
	border-radius: 23px 0 0 23px;
	background-color: #e1e1e1;
	border: none;
	padding-left: 28px; 
}
.brows-batton-sab {
	width: 104px;
	height: 46px;
	border-radius: 0 23px 23px 0;
	border: none;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 0.35px;
}
.brows-batton-sab:hover {
	cursor: pointer;
}

									/* FOOTER */
.footer-top {
	display: flex;
    justify-content:space-between;
    margin: 109px 0 85px;
}
.footer-info {
    max-width:427px;
}
.info-footer {
    margin-top: 29px;
    color:  #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
}
.footer-box {
    height: 290px;
    margin-right: 64px;  
	float: left;
}
.footer-box:last-of-type{
	margin-right: 0;
}
.footer-h {
    padding-top: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #f16d7f;
    margin-bottom: 40px;
}
.footer-menu {
    list-style: none;
    text-align: left;
}
.footer {
	background: #e6e6e6;	
	height: 79px;
}
.foo-p {
	margin-top: 32px;
	color: #7a7a7a;
	font-family: Lato;
	font-weight: 400;
}
.social {
	margin-top: 23px;
}
.flex-img {
	display: flex;
    justify-content: center; 
    align-items: center;
}
.flex-img:hover {
	background-color: #f16d7f;
}

								/* -------PRODUCT------- */

.bread-crumbs{
	height: 148px;
	background-color: #f8f3f4;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.bread-crumbs-left{
	color: #f16d7f;
	font-family: "Lato - Black";
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}

.bread-crumbs-right a{
	color: #f16d7f;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;	
}


/* .flex-main{
	display: flex;
	justify-content: space-between;
}
.nav-left{
	margin-top: 60px;
	width: 243px;
}
.items-found {
	display: flex;
	flex-direction: column;  
}
.form-area {
	height: 110px;
	margin: 65px 0 40px;
	display: flex;
	justify-content: space-between;
}
.trend-name {
	overflow: hidden;
	margin-top: 25px;
 }	

.trend-name ul {
	list-style: none;
}

.trend-name ul li {
	margin: 0 5px;
	display: inline;
}

.trend-name ul li:after {
	margin-left: 15px;
	content: "|";
	color: #dfdfdf;
}

.name-form {
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}
.checkbox {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25px;
}

.form-checkbox {
	position: absolute;
  	z-index: -1;
  	opacity: 0;
}

.sort-area {
	width: 846px;
	height: 50px;
	background-color: #f3f3f3;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.new-select-style-wpandyou {
	display: flex;
/*    overflow: hidden; */
    height: 30px;
}
.new-select-style-wpandyou select,
.sort-by {
    background-color: #fff;
    height: 30px;
    padding: 0 20px 0 10px;
	margin-right: 10px;
    color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #ebebeb;
}
.sort-by {
	padding: 0 10px;
	margin-right: 0;
	line-height: 30px;
	display: inline-block;
}

.items-article {
	width: 846px;
}

.padge-found {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.padge-namber {
	width: 261px;
	height: 44px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}
.prev,
.next {
	margin: 15px;
	height: 13px;
	width: 8px;
}

.fetured-bbox-item-container{
	width: 100%;
	height: 341px;
    margin: 0 auto;
    margin-top: 97px;
	background-color:  #222224;
}

.fetured-bbox-item{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222224;
} */




								/* ------------SINGLE_PAGE------------- */
/* .slider {
	width: 100%;
	height: 777px;
	border: 1px solid #eaeaea;
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.arrow-slider-l,
.arrow-slider-r {
	width: 47px;
	height: 47px;
	background-color: #2a2a2a;
	opacity: 0.1;
	position: relative;
}
.arrow-slider-l::before {
	content: "";
	position: absolute;
	margin-top: -7px;
	top: 50%;
	left: 21px;
	height: 14px;
	width: 8px;
	background: url(../img/arrow_slider_l.png);
}
.arrow-slider-r::before {
	content: "";
	position: absolute;
	margin-top: -7px;
	top: 50%;
	right: 21px;
	height: 14px;
	width: 8px;
	background: url(../img/arrow_slider_r.png);
}


.photo-slider {
	width: 597px;
height: 724px;
}

.description-container {
	width: 1140px;
    margin: -85px auto 120px;
}

.description {
	width: 1141px;
	height: 730px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	position: relative;
}

.title {
	margin: 0 auto 63px;
	padding-top: 73px;
	width: 618px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 43px;
}

.title-collection {
	font-size: 16px;
    font-weight: 700;
	color: #f16d7f;
	display: block;
	padding-bottom: 14px;
	border-bottom: 1px solid #eaeaea;
	position: relative;
}

.title-collection::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 50%;
	margin-left: -31.5px;
	width: 63px;
	border-bottom: 3px solid #ef5b70;
}

.name-item {
	color: #4d4d4d;
	font-family: "Lato - Black";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin: 17px 0 67px;
}

.about {
	text-align: center;
	color: #5e5e5e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.hint {
	display: flex;
	margin: 28px 0 37px;
	
}

.hint-p {
	color: #b9b9b9;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-right: 44px
}

.hint-a {
	color: #2f2f2f;
}

.price-item {
	color: #ef5b70;
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.choose {
	display: flex;
	justify-content: space-around;
	width: 618px;
	margin: 0 auto;
}


.product-select-wrapper {
	width: 144px;
	height: 35px;
	border: 1px solid #eaeaea;
	color: #bcbcbc;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}

.product-select-wrapper::before {
	content: "";
	position: absolute;
	right: 9px;
	top: 15px;
	background: url(../img/arrow_down_select.png);	
	width: 9px;
	height: 5px;
}
.product-color-selected {
	display: flex;
	align-items: center;
}
.product-color {
	display: inline-block;
	margin: 11px 13px;
	width: 12px;
	height: 12px;
	background-color: #ef5b70;
}
.product-color-name {
	display: inline-block;
}
.product-color-info {
	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.product-select-wrapper select,
.product-select-wrapper input {
	border: none;
	width: inherit;
	height: inherit;
	padding-left: 15px;
	color: #bcbcbc;
	-webkit-appearance: none;
	outline: none;
}


.add-batton {
	width: 537px;
	height: 55px;
	border: 1px solid #ef5b70;
	background-color: #fff;
	text-align: center;
	padding-top: 15px;
	margin: 30px auto;
	transition: background-color .5s, border .5s, color .5s;	
}

.add-batton:hover{
	background-color: #ef5b70;
}

.add-batton a{
	display: flex;
	justify-content: center;
	color: #ef5b70;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
}
.add-batton img {
	margin-right: 15px;
}

.add-batton:hover a{
	color: #fff;
}

.may-like {
	display: flex;
	justify-content: space-between;
	margin-top: 72px;
} */



.items-flex {
    display: flex;
    width: 1140px;
    flex-wrap: wrap;
    justify-content: space-between
    
}

.items-1 {
    background: url(../img/Layer%201.jpg) no-repeat;
}

.items-2 {
    background: url(../img/Layer2.jpg) no-repeat;
}

.items-4 {
    background: url(../img/Layer4.jpg) no-repeat;
}

.items-5 {
    background: url(../img/Layer5.jpg) no-repeat;
}

.items-6 {
    background: url(../img/Layer6.jpg) no-repeat;
}

.items-7 {
    background: url(../img/Layer7.jpg) no-repeat;
}

.items-3 {
    background: url(../img/Layer%201.jpg) no-repeat;
}

.items-8 {
    background: url(../img/Layer2.jpg) no-repeat;
}

.items-flex a {
    margin-bottom: 39px;
}

.main {
    margin-bottom: 58px
}

.footer-menu a:hover{
	color: #f16d7f;
}

.footer-menu a{
    color:  #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}

.mega-box {
    border-radius: 5px;
    background-color:  #ffffff;
    padding: 20px;
    position: absolute;
    border: 1px solid #e6e6e6;
	display: none;
	top: 47px;
}

.mega-box:before{
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	position: absolute;
	top: -7px;
	left: 35px;
	transform: rotate(45deg);
	border-top:1px solid #e6e6e6 ;
	border-left:1px solid #e6e6e6 ;	
}

.menu-li:hover .mega-box{
	display: flex;
}

input::-webkit-input-placeholder {
	opacity: 0.67;
	color: #222224;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 54px;
	letter-spacing: 0.35px;
	margin-left: 28px; 
}

.mail-form {
	display: flex;
	margin-left: 92px;
}

ul{
	list-style: none;}

.social ul li{
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: #fff;	
}

.footer .container {
	display: flex;
    justify-content:space-between;
}

html,
body {
	height: 100%;
}

.accordion-label:hover {
	color: #ef5b70;
}

.accordion-checkbox:checked +.accordion-label{
	color: #ef5b70;
}

.accordion-checkbox:checked +.checkout-label{
	border-bottom: 0;
}

.arrow-nav {
	position: absolute;
	right: 9px;
	top: 15px;
}

.accordion-label {
	display: block;
	height: 37px;
	width: 243px;
	background-color: #ffffff;
	margin-bottom: 20px;
	color: #6f6e6e;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 9px 0 0 11px;
	border-bottom: 1px solid #ebebeb;
	border-left: 5px solid #ef5b70;
	position: relative;
	cursor: pointer;
}

.accordion-checkbox {
	display: none;
}

.accordion-text {
	display: none;
}

.accordion-checkbox:checked+.accordion-label+ .accordion-text {
	display: block;
}

.accordion-checkbox:checked+.checkout-label+ .accordion-text {
	display: block;
	border-bottom: 1px solid #ebebeb; 
}

.form-area > div{
	width: 278px;
}



										/*SLIDER*/
.slide-container {
    width: 100%;
	position: relative;
}

.price_slider-min,
.price_slider-max {
	width: 100%;
	-webkit-appearance: none;
	background: none;
}
/*.price_slider-min::-webkit-slider-runnable-track,*/
.price_slider-max::-webkit-slider-runnable-track {
	height: 6px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #f0f0f0;
	z-index: 5;
}
/*.price_slider-min::-webkit-slider-thumb,*/
.price_slider-max::-webkit-slider-thumb {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background-color: #f16d7f;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}

.price_slider-max::-webkit-slider-thumb {
	position: absolute
	z-index: 1111;
}

.price_slider-min {
	position: absolute;
	top: 9px;
	height: 5px;
}
.range-min {
	position: absolute;
	top: -5px;
	height: 14px;
	width: 14px;
	border-radius: 7px;
	background-color: #f16d7f;
	z-index: 6;
	cursor: pointer;
}









.form-checkbox + label {
	width: 47px;
 	position: relative;
 	padding-left: 22px;
	padding-bottom: 13px;
 	cursor: pointer;
}
.form-checkbox + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;	
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  background: #ffffff;
  transition: .2s;
}

.form-checkbox:checked + label:before {
  background: #f16d7f;
}



.batton-view a{
	width: 150px;
	height: 44px;
	border-radius: 3px;
	border: 1px solid #ef5b70;
	color: #ffffff;
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;
	display: block;
	text-align: center;
	padding-top: 8px;
}



								/*----CHECKOUT----*/


/*
.checkout-label {
	display: block;
	height: 72px;
	color: #222222;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	cursor: pointer;
}
*/


/* .step {
	padding: 33px 0;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
}
.step + h3 {
	color: #222222;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.step-info {
	display: flex;
	
}

.checkout-button{
	background-color: #fff;
	width: 180px;
	margin-top: 23px;
	
}

.checkout-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 39px 0 0 35px;
	
}

.checkout-p{
	color: #222222;
	font-family: Lato;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 40px
}

.checkout-p2{
	color: #b3b2b2;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 33px;
}
.easy {
	margin-bottom: 15px;
}
.easy::before {
	content: "≫";
	margin-right: 4px;
}
.unregisrer {
	margin-bottom: 31px;
	display: flex;
	flex-direction: column;
}

.unregisrer label + label {
	margin-top: 16px;
}
.log-in input {
	max-width: 390px;
	height: 45px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	margin: 16px 0 23px 0;
	padding-left: 16px;
}
.required {
	color: #ff0d0d;
	margin-bottom: 10px;
} */
/*
.log-in p {
	color: #222222;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}
*/



/*
.accordion-checkbox:checked+.checkout-label+ .checkout-text{
	display: flex;
	justify-content: center;
}
*/
			

						/*CART TABLE*/

/* .product-details {
	margin-top: 90px;
	margin-bottom: 45px;
}
table {
	border-collapse: collapse;
}


td input{
	width: 54px;
	height: 30px;
	text-align: center;
	   
}

th, */
 /* td{
	border-bottom: 1px solid #eaeaea;
	width: 162px;
	height: 12px;
	color: #222222;
	font-family: Lato;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	 padding: 20px 0;
}

td:first-child,
th:first-child {
	text-align: left;
	width: 510px;
}
.table-product-details {
	display: inline-block;
	width: 100%;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	color: #575757;
	font-family: "Lato";
	font-weight: 700;
}
.table-product-details img {
	float: left;
	margin-right: 21px;
} */
/* 
.grand-total-form h3{
	color: #222222;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;
}


.cart-button-area {
	display: flex;
	justify-content: space-between;
	margin-bottom: 63px;
} */

/* .grand-total-form {
	
	display: flex;
	justify-content: space-between;
}

.grand-total-form input {
	width: 100%;
	height: 45px;
	border: 1px solid #eaeaea;
	padding-left: 18px;
	display: block;
	margin-bottom: 20px;
}
.grand-total-form input::-webkit-input-placeholder {
	color: #b1b1b1;
	font-family: Lato;
	font-size: 13px;
	font-weight: 300;
}

.grand-total-form button {
	color: #4a4a4a;
	font-family: Lato;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px 15px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	cursor: pointer;
} */

/* .shipping-adress-form {
	display: flex;
	flex-direction: column;
	width: 355px;
}
.shipping-adress-form p {
	color: #000000;
	font-family: Lato;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 24px;
}

.total-form {
	width: 360px;
	height: 214px;
	background-color: #f5f3f3;
	padding: 41px 44px;
}

.total-form-up { 
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 17px;
	text-align: right;
}
.total-form-down {
	text-align: center;
}

.checkout-box {
	display: block;
	width: 100%;
	height: 70px;
	background-color: beige;
	transition:  0.3s ;
}

.checkout-box:active{
	
 height: 500px;
}

.checkout-box__link {
	display: block;
} */






.qqq {
	display: none;
}

.container-footer-box {
	min-width: 580px;
	margin-left: 64px;
}

.search-icon {
	display: none;
}

.my-acc-icon {
	display: none;
	margin-left: 30px;
}

.menu-down{
	display: none;
}
.di-none {
	display: none;
}



@media screen and (max-width: 880px){
	.brows-text{
		width: 170px;}
	.qqq{
		display: block;
	}
	.fetured-bbox{
		display: none;
	}
	.di-none{
		display: block;
	}
	.fetured-bbox-item-container{
		margin-top: 0;
	}
	.sabscribe{
		flex-direction: column;
		align-items: center;
	}
	.sabscribe-right,sabscribe-left{
		
	} 
	.footer-top{
		flex-direction: column;
		align-items: center;
	}	
}


@media screen and (max-width: 760px){
	.search-icon {
	display: block;
	}
	.header-left .header-form{
		display: none;
	}
	.my-acc{
		display: none;
	}
	.my-acc-icon{
		display: block;
	}
	.menu-down{
		display: block;
	}
	.menu{
		display: none;
	}
	.container-flex{
		flex-direction: column;
		align-items: center;
	}
}



.feture-box-product{
	padding: 0 10px 0;
}

.feture-box-product, .feture-box-product h3, .feture-box-product p {
	text-align: center
}

.feture-box-product h3{
	margin-bottom: 17px
}

.feture-box-img {
	margin-bottom: 29px;
}









.checkbox-menu {
	display: none;
}
.checkout-text{
	display: none;
}


.label-menu {
	display: block;
	height: 37px;
	background-color: #ffffff;
	color: #000;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	padding: 6px 0 0 11px;
	border-bottom: 1px solid #ebebeb;
	position: relative;
	cursor: pointer;
}

.checkbox-menu:checked+.label-menu+ .checkout-text {
	display: block;
}

.checkbox-menu:checked+.label-menu{
	background-color: #000;
	color: #fff;
}

.checkout-text>ul>li>a{
	display: block;
	height: 37px;
	background-color: #ffffff;
	color: #000;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	padding-left: 11px
}

.fa-angle-down{
/*	content: "\f107";*/
	position: absolute;
	right: 9px;
	top: 15px;
}


